*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    background-color: #242629
    
header
    background-color: #17171da1
    display: flex
    justify-content: flex-end
    align-items: center
    padding: 30px 25%

    .logo
        margin-right: auto

        img
            width: 200px

    ul.nav-links
        list-style: none
        padding-left: 50px

        li
            display: inline-block
            padding: 0px 20px

            a
                font-family: sans-serif
                font-weight: 500
                font-size: 16px
                color: #f0f0f0
                text-decoration: none
                text-transform: uppercase

                transition: all 0.3s ease 0s

                &:hover
                    color: #4874e1ff