* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
}

body header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  padding: 5px;
  background-color: #fefefe;
  border-bottom: 1px solid #4444440e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header #logo {
  margin-left: 25px;
}

body header #logo img {
  width: 180px;
  padding-top: 10px;
}

body header div#account {
  margin-left: auto;
  margin-right: 50px;
}

body header div#account a {
  padding: 5px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  border-radius: 5px;
}

body header div#account a #username {
  color: #000000;
  font-size: 18px;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

body header div#account a #flag img {
  height: 45px;
  border-radius: 5px;
  vertical-align: middle;
}

body header div#account a:hover {
  background-color: #f1f1f1;
}

body section {
  margin: 65px 0 0 250px;
  padding: 20px;
}

body section h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

body section .featured-flag {
  padding-bottom: 40px;
}

body section .featured-flag .article-widget {
  background-color: #ffffff;
  padding: 15px;
  margin-right: 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section .featured-flag .article-widget .flag img {
  height: 150px;
}

body section .featured-flag .article-widget .info {
  padding-left: 25px;
}

body section .featured-flag .article-widget .info h1 {
  font-size: 30px;
  padding-bottom: 5px;
}

body section .featured-flag .article-widget .info .description {
  padding-bottom: 5px;
  height: 70.5px;
}

body section .featured-flag .article-widget .info a {
  float: left;
  text-decoration: none;
}

body section .featured-flag .article-widget .info a .read-more {
  background-color: #204596;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  padding: 7px 15px;
}

body section .featured-flag .article-widget .info a .read-more:hover {
  background-color: #4a71ac;
}

body section .featured-flag .article-widget .info .updated-time {
  float: left;
  margin-left: 10px;
  line-height: 35px;
  vertical-align: middle;
  color: #949494;
  font-style: italic;
}

body section .featured-quizzes {
  padding-bottom: 40px;
}

body section .featured-quizzes .quiz-widget {
  background-color: #ffffff;
  padding: 15px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 310px;
  height: 325px;
}

body section .featured-quizzes .quiz-widget .flag img {
  display: block;
  margin: auto;
  height: 150px;
  padding-bottom: 10px;
}

body section .featured-quizzes .quiz-widget h1 {
  overflow-wrap: break-word;
  font-size: 25px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section .featured-quizzes .quiz-widget .flag-count {
  color: #949494;
  font-style: italic;
  padding-bottom: 10px;
}

body section .featured-quizzes .quiz-widget a.take-quiz {
  text-decoration: none;
}

body section .featured-quizzes .quiz-widget a.take-quiz div {
  background-color: #204596;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

body section .featured-quizzes .quiz-widget a.take-quiz div:hover {
  background-color: #4a71ac;
}
/*# sourceMappingURL=styles.css.map */